<!-- app/views/home/index.html.erb -->

<!-- app/views/home/index.html.erb -->
<html>
  <head>
    <title>Home Page</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body style="background-image: url('<%= asset_path('background.jpg') %>'); background-size: cover; background-position: center; height: 100vh; margin: 0; text-align: center;">

   <div>
      <h1>Welcome to Toy App</h1>
   </div>


    <!-- Add more content as needed -->
  </body>
</html>

