/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 @import "scss/*";
 @import "bootstrap";

 /* app/assets/stylesheets/application.scss */
.navbar {
    background-color: #f8f9fa !important; /* Light background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    color: #555 !important;
  }
  
  .nav-link:hover {
    color: #007bff !important; /* Blue on hover */
  }
  
  